{% extends "base.html" %}

{% load urlify %}

{% block head_title %}
        {{ instance.titulo }} | {{ block.super }}
{% endblock head_title %}

<!-- TODO: This needs to be refactored considering the new template -->

{% block content %}

    <!-- Blog Entries Column -->
    <div class="col-lg-8">

        <h1 class="page-header">
            <a href='{{ instance.get_absolute_url }}'>{{ instance.titulo }}</a>
            {% if instance.draft %}
                <small>DRAFT</small>
            {% endif %}
        </h1>

        <div class="row">
            <div class="col-lg-8">
                {% if instance.user.get_full_name %}
                    <p class="lead">by <a href="">{{ instance.user.get_full_name }}</a></p>
                {% else %}
                    <p class="lead">by {{ instance.user }}</p>
                {% endif %}
            </div>
            <div class="col-rg-4">
                <p align='right'>
                    <a class="btn btn-secondary" href="{{ instance.get_absolute_url }}edit"
                       role="button">Edit <span class="glyphicon glyphicon-pencil"></span></a>
                </p>
            </div>
        </div>

        <p><span class="glyphicon glyphicon-time"></span> Posted on {{ instance.timestamp }}</p>

        <hr>

        {% if instance.imagen %}
            <img src="{{ instance.imagen.url }}" class="img-responsive" />
            <hr>
        {% endif %}

        <p class="text-justify"> {{ instance.contenido }} </p>

        <br>

        <div>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
                <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/home?status={{ instance.titulo|urlify }} {{ request.build_absolute_uri }}">
                <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
            </a>
        </div>

        <div class="fb-comments"
            data-href="{{ request.build_absolute_uri }}"
            data-numposts="5">
        </div>

        <br>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Miniblog 2017</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>

{% endblock %}

<!-- ===================================================================== -->


<!--
&lt;!&ndash;<div class="col-sm-6 col-sm-offset-3">&ndash;&gt;
<div class="row">
    <div class="col-sm-12">
        <div class="thumbnail">
            <div class="caption">

                {% if instance.imagen %}
                    <img src="{{ instance.imagen.url }}" class="img-responsive" />
                {% endif %}

                <h2>{{ titulo }} <small>
                    {% if instance.draft %}<span style="color:orange;">DRAFT</span>{% endif %}
                    {{ instance.timestamp }}</small></h2>

                <br>

                {% if instance.user.get_full_name %}
                    <p class="lead" align='right'>
                        <em>by <a href="">{{ instance.user.get_full_name }}</a></em></p>
                    &lt;!&ndash;<p align='right'> Author: {{ instance.user.get_full_name }}</p>&ndash;&gt;
                {% else %}
                    <p align='right'> Author: {{ instance.user }}</p>
                {% endif %}

    &lt;!&ndash;
    {{ share_string }}<br>
    {{ instance.titulo|urlify|truncatechars:30 }}<br>
    &ndash;&gt;

	            <p class="big"> {{ instance.contenido }} </p>

                <br/><br/>

                &lt;!&ndash; 'Edit' button &ndash;&gt;
                <p align='right'><a href="{{ instance.get_absolute_url }}edit"
                                    class="btn btn-default" role="button">Edit</a></p>

                <br><br>
                <hr/>

                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
                    <i class="fa fa-facebook-square fa-2x" aria-hidden="true">
                    </i>
                </a>
                <a href="https://twitter.com/home?status={{ instance.titulo|urlify }} {{ request.build_absolute_uri }}">
                    <i class="fa fa-twitter-square fa-2x" aria-hidden="true">
                    </i>
                </a>

                &lt;!&ndash; paso 3 del plugin social de facebook para tener el boton 'Me gusta' en nuestros posts &ndash;&gt;
                <div class="fb-like"
                     data-href="{{ request.build_absolute_uri }}"
                     data-layout="box_count"
                     data-action="like"
                     data-size="small"
                     data-show-faces="true"
                     data-share="false">
                </div>

                <hr/>

	            &lt;!&ndash; paso 3 del plugin social de facebook para tener comentarios en nuestros posts &ndash;&gt;
	            <div class="fb-comments"
                     data-href="{{ request.build_absolute_uri }}"
                     data-numposts="5">
                </div>

            </div>
        </div>
    </div>
</div>

-->
