{% extends "base.html" %}

{% block content %}

    <!-- Blog Entries Column -->
    <div class="col-md-8">

        <h1 class="page-header">
            <div class="row">
                <div class="col-lg-8">
                    Posts List
                    <small> This is the list of posts</small>
                </div>
                <div class="col-rg-4">
                    {% if request.user.is_authenticated %}
                        <p align='right'>
                            <a id="new-post" class="btn btn-secondary" href="/posts/create"
                            role="button"><big>New Post </big><span class="glyphicon glyphicon-edit"></span></a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </h1>

        <!-- List of Posts -->
        {% for obj in object_list %}

        <h2>
            <a id="title" href='{{ obj.get_absolute_url }}'>{{ obj.titulo }}</a>
        </h2>

        {% if obj.draft %}
            <h4><small>DRAFT</small></h4>
        {% endif %}

        {% if obj.publish > today %}
            <h4><small>FUTURE POST</small></h4>
        {% endif %}

        {% if obj.user.get_full_name %}
            <p id="author" class="lead" align='right'><small>by <a href="">{{ obj.user.get_full_name }}</a></small></p>
        {% else %}
            <p align='right'>by {{ obj.user }}</p>
        {% endif %}

        <p id="date" align='right'><span class="glyphicon glyphicon-time"></span> Posted on {{ obj.publish }}</p>

        {% if obj.imagen %}
            <img class="img-responsive" src="{{ obj.imagen.url }}" alt="">
        {% endif %}

        <p id="content" class="text-justify">{{ obj.contenido | linebreaks | truncatechars:700 }}</p>

        <p align='left'><a class="btn btn-primary" id="read-more-button"
           href="{{ obj.get_absolute_url }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a></p>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <ul class="pager">
            {% if object_list.has_previous %}
                <li class="previous">
                    <a id="newer-button" href="?page={{ object_list.previous_page_number }} {% if request.GET.q %}&q={{ request.GET.q }} {% endif %}">&larr; Newer</a>
                </li>
            {% endif %}

            {% if object_list.has_next %}
                <li class="next">
                    <a id="older-button" href="?page={{ object_list.next_page_number }} {% if request.GET.q %}&q={{ request.GET.q }} {% endif %}">Older &rarr;</a>
                </li>
            {% endif %}
        </ul>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Miniblog 2017</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- "col-md-8" -->

{% endblock %}

<!-- =============================================================== -->


<!--<div class="col-sm-7 col-sm-offset-2">
    &lt;!&ndash;<h1>{{ titulo }}</h1>&ndash;&gt;

    &lt;!&ndash;<form method="get" action="">
        <input type='text' name='q' placeholder='Enter your key word' value='{{ request.GET.q }}' />
        <input type="submit" value="Search post"/>
    </form>&ndash;&gt;

    {% for obj in object_list %}
    &lt;!&ndash;{% url "posts:detail" id=obj.id %} Esta linea no es necesaria porque tenemos la get_absolute_url abajo&ndash;&gt;
    <div class="row">
        <div class="col-sm-12">
            <div class="thumbnail">
                {% if obj.imagen %}
                    <img src="{{ obj.imagen.url }}" class="img-responsive"/>
                {% endif %}
                <div class="caption">
                    <h4><small> {{ obj.publish }} </small></h4>
                    <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.titulo }}</a></h3>

                    {% if obj.draft %} <h4><small>DRAFT</small></h4> {% endif %}
                    {% if obj.publish > today %} <h4><small>FUTURE POST</small></h4> {% endif %}

                    {% if obj.user.get_full_name %}
                        <p class="lead" align='right'><small>
                            <em>by <a href="">{{ obj.user.get_full_name }}</a></em></small></p>
		                &lt;!&ndash;<p align='right'> Author: {{ obj.user.get_full_name }}</p>&ndash;&gt;
	                {% else %}
		                <p align='right'> Author: {{ obj.user }}</p>
	                {% endif %}

                    <p class="text-justify">{{ obj.contenido | linebreaks | truncatechars:500 }}</p>

                    &lt;!&ndash; 'More' button &ndash;&gt;
                    <p><a href="{{ obj.get_absolute_url }}" class="btn btn-default" role="button">More</a></p>

                </div>
            </div>
        </div>
        <hr/>
    </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if object_list.has_previous %}
                <a href="?page={{ object_list.previous_page_number }} {% if request.GET.q %}&q={{ request.GET.q }} {% endif %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
            </span>

            {% if object_list.has_next %}
                <a href="?page={{ object_list.next_page_number }} {% if request.GET.q %}&q={{ request.GET.q }} {% endif %}">next</a>
            {% endif %}
        </span>
    </div>

</div>-->




